.logo {
    height: 60px;
    width: 250px;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    box-shadow: 0px 1px 2px aqua;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

li {
    display: inline-block;
    color: black;
    padding: 10px;
    margin: 10px;
}

li:hover {
    border-bottom-width: 1px;
    border-bottom-color: rgb(182, 8, 8);
    border-bottom-style: solid;
}

.selection_container {
    display: flex;
    justify-content: space-between;

}

.selection {
    height: 70px;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-top: 100px;
    justify-content: space-between;
    text-align: center;
}

.search{
    text-align: center;
    padding: 150px;
    background-image: url(https://static.tacdn.com/img2/brand/home/homemar2022_dt_trans.webp);
    margin-top: 100px;
    margin-bottom: 100px;
   
  }
  .searchbar{
    height: 60px;
    min-width: 500px;
    border-radius: 50px;
  }

.tour {
    margin-top: 50px;
    text-align: left;

}

.tour>h4 {
    font-size: 30px;
    margin: 0px;
}



.card {
    height: 350px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 3px 5px;
    position: relative;
}


.container {
    display: flex;
    justify-content: space-between;
}

.card:hover {
    opacity: 0.8;
}

.img {
    height: 230px;
    width: 100%;
}

.heading,
.trip_pakage {
    margin: 0px;
    padding: 0px;
    padding-left: 12px;
}

.heading {
    font-size: 18px;
    padding-top: 5px;
}

.trip_pakage {
    padding-top: 15px;
}

.heart {
    background-color: #fff;
    box-shadow: 1px 1px 1px #ccc;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1px;
}

.heart:hover
{
    
}